body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.complete-input {
  border: none;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  text-align: right;
}

.current-num {
  border: none;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  text-align: right;
}
